@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding:  0px;
    font-family: 'Nunito', sans-serif;
    text-align: justify;
} 

a {
    text-decoration: none;
    outline-offset: none;
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    padding: 0px 120px 0px 80px;
    z-index: 1;
    gap: 100px;
}

.company-name-large {
    font-size: 3rem;
}

.company-name-large a, .company-name-large:visited {
    color: rgb(252,95,47);
}

.nav-options {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    font-size: 1.2rem;
}

.nav-options a, .nav-options a:visited {
    color: rgb(82,86,103);
}

#home-page {
    height: 764px;
    background-image: url('../assets/backgrounds/fresh-colourful-ingredients-mexican-cuisine.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.advertisement-container {
   position: absolute;
   top: 200px;
   left:80px;
   display: flex;
   gap: 20px;
}

.catchy-line {
    font-family: 'Open Sans', sans-serif;
    font-size: 5rem;
    font-weight: bold;
    line-height: 80px;
    margin-bottom: 20px;
}

.catchy-line-2 {     
    font-family: 'Open Sans', sans-serif;
    font-weight:100;
    font-size: 3.6rem;
}
.quote-text {
    color: rgb(98, 100, 101);
    max-width: 600px;
    padding-bottom: 4px;
    letter-spacing: 0.5px;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;   
}

.location-container {
    background-color: rgb(254,87,34, 0.5);
    padding: 20px;
    max-width: 450px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: grid;
    grid-template-rows: 1fr 2fr;
    font-weight: bold;
    color: white;
    text-align: justify;
}

.address, .time {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 30px;
}

.day-time-container {
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
}

.day {
    padding-right: 2px;
}

.address-text, .time-text {
    width: 100%;
}

#menu-page {
    background-image: url('../assets/backgrounds/augustine-wong-li0iC0rjvvg-unsplash.jpg');
    padding-top: 40px;
}

.meal-choice-container {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.meal-choices {
    display: flex;
    gap: 20px;
}

.btn {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.btn {
  transform: scale(0.95);
}

.meals-grid {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 100px;
    padding: 30px 80px 80px 80px;
}

.meal-tile {
    max-width: 390px;
    max-height: 520px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 20px;
    -webkit-tap-highlight-color: transparent;
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.meal-tile:hover {
    transform: scale(1.1);
  }

.meal-image, img {
    height: 230px;
    width: 350px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.meal-content {
    padding: 10px 5px;
}

.meal-title {
    text-transform: capitalize;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

.meal-description {
    height: 100px;
    text-transform: capitalize;
    text-align: justify;
}

.price-rating-section {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.price {
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.price:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.rating {
    display: flex;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    gap: 10px;
    padding: 10px;
    
}

.star-icon {
    background-image: url('../assets/icons/star.png');
    height: 16px;
    width: 16px;
    margin-top: 2px;
}

.rating-text {
    letter-spacing: 0.5px;
}

#faq-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.faq-heading{
    text-align: center;
    font-family: 'Quicksand', 'Open Sans', sans-serif;
    padding: 40px 0px;
}

.faqs {
    margin: 0px auto;
}

.question-container {
    display: grid;
    grid-template-columns: 655px 30px;
    column-gap: 20px;
    width: 770px;
    padding: 37px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    margin-bottom: 50px;
}

.question {
    font-size: 1.3rem;
    color: rgb(90,89,104);
}

.open-close-btn {
    font-size: 1.3rem;
    color: rgb(241, 113, 69);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-style: none;
    cursor: pointer;
    text-align: center;
}

.answer {
    padding-top: 20px;
    line-height: 2rem;
    color: rgb(141, 141, 141);
    text-align: justify;
}

.newsletter-page {
    padding: 20px 0px 100px 0px;
}

.newsletter-container {
    height: 415px;
    width: 1265px;
    margin: 40px auto;
    background-image: url("https://images.unsplash.com/photo-1643298873932-1572f1e6c99f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDJ8fGJha2VyeXxlbnwwfDB8MHxibGFja3w%3D&auto=format&fit=crop&w=625&h=230&q=60");
    background-size:cover;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 85px 320px;
}

.newsletter-info {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}

.newsletter-form {
    margin-top: 45px;
    display: flex;
    position: relative;
}

input[type="email"] {
    width: 545px;
    padding: 15px 25px;
    margin-left: 35px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: none;
    font-size: 1.1rem;
    outline: none;
}

.join-btn {
    position: absolute;
    right:0px;
    top: -12px;
    width: 125px;
    height: 58px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    color: white;
    font-size:1.2rem;
    
}

footer {
    background-color: rgb(243,249,249);
    padding-top: 108px;
    padding-left: 108px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1.5fr;
    gap: 30px;
}

.company-follow {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1.5fr;
}

.company-name-small a {
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(252,95,47);
}

.company-info {
    color: rgb(32, 32, 33);
    font-weight: 600;
    padding: 1px;
    margin-top: 20px;
}

.social-media-handles {
    display: flex;
    gap: 20px;
    height: 100px;
}

.social-media-icon {
    border-radius: 5px;
    height: 50px;
    width: 50px;
    padding: 12.5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.social-media-icon:hover {
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    transform: scale(1.2);
}

.credits {
    text-align: left;
}

.credits a{
    color: black;
}

.heading {
    padding-top: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.useful-text {
    padding: 10px;
    padding-left: 0px;
    text-align: left;
    font-size: 1.05rem;
    color: rgb(170,173,174);
}

.useful-text a {
    color: rgb(170,173,174);
    text-decoration: none;   
}









