@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

@import 'navbar.css';
@import 'home.css';
@import 'menu.css';
@import 'faq.css';
@import 'newsletter.css';
@import 'footer.css';

* {
    box-sizing: border-box;
    margin: 0px;
    padding:  0px;
    font-family: 'Nunito', sans-serif;
    text-align: justify;
} 

body, html {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    outline-offset: none;
}

.btn {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.btn {
  transform: scale(0.95);
}