nav {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    padding: 0px 120px 0px 80px;
    z-index: 1;
    gap: 100px;
}

.company-name-large {
    font-size: 3rem;
}

.company-name-large a, .company-name-large:visited {
    color: rgb(252,95,47);
}

.nav-options {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    font-size: 1.2rem;
}

.nav-options a, .nav-options a:visited {
    color: rgb(82,86,103);
}